<a class=" text-decoration-none text-gray-600" [routerLink]="['/requests/list']">
  <i class="fa fa-chevron-left"></i>
  <span class="font-lg ml-2" [translate]="'Requests.Homepage'"></span>
</a>

<h2 class="pb-4 pt-2" [translate]="'RequestSuspendActions.SuspendRequest'"></h2>
<div class="card" *ngIf="suspendRequestAction">
  <div class="card-body">
    <div>
      {{'RequestSuspendActions.AlreadyRequested' | translate}} {{this.suspendRequestAction.startTime | date: 'dd/MM/yyyy'}} {{'RequestSuspendActions.AndItTs' | translate}}
      {{'Requests.ActionStatusTypes.' + this.suspendRequestAction?.actionStatus?.alternateName | translate}}
    </div>
  </div>
</div>
